<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd ">
                           
              <!-- step2 Spring configuration file -->             
          <context:component-scan base-package="controller"></context:component-scan>  
          <context:component-scan base-package="crudModel"></context:component-scan> 
       <tx:annotation-driven/>
            <context:component-scan base-package="crudDao"></context:component-scan>  
          <mvc:annotation-driven></mvc:annotation-driven>  
          <mvc:default-servlet-handler/>      
          
                           
                           
                           <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="view7">
                           <property name="prefix" value="/WEB-INF/view7/"></property>
                           <property name="suffix" value=".jsp"></property>
                           </bean>
                              <bean class="org.springframework.orm.hibernate5.HibernateTemplate" id="hibernateTemplate">
                           <property name="sessionFactory" ref="factory"></property>
                          
                           </bean>
                           
                             
                           <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
                                <property name="sessionFactory" ref="factory"/>
                           </bean>
                           
                           <bean name="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
                           <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                            <property name="url" value="jdbc:mysql://localhost:3306/crudmvc"/>
                             <property name="username" value="root"/>
                              <property name="password" value="root"/>
                              
                           </bean>
                        
                          <!-- Configure the Hibernate SessionFactory -->
    <bean id="factory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="ds"/>
      
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <!-- Add other Hibernate properties as needed -->
            </props>
         </property>
                           <property name="annotatedClasses">
                           <list>
                           <value>crudModel.Product</value>
                           </list>
                           </property>
    </bean>
                         
</beans>
                           
                           
                           
                           